.highlights1{
    background-color:#1c2833;
}
.text_color{
    color: blue ;
}
.name_title{
    color: white !important;
    text-align: center !important;
    white-space: nowrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
 }
/* .name_title:hover{
    color: blue !important;
     animation: mymove 5s infinite;
    animation-delay: 2s !important;
} */